@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

html {
  /* COLORS */
  /* dark */
  --dark-0: #161a20;
  --dark-1: #1c212b;
  --dark-2: #242a35;
  --dark-3: #343a46;
  /* light */
  --light-0: #ffffff;
  --light-1: #f5f5f5;
  --light-2: #eeeeee;
  --light-3: #dddddd;
  /* gray */
  --gray-0: #cccccc;
  --gray-1: #bbbbbb;
  --gray-2: #aaaaaa;
  --gray-3: #999999;
  --gray-4: #666666;
  --gray-5: #555555;
  /* primary */
  --primary-0: #7ea7c9;
  --primary-1: #527897;
  /* secondary */
  --secondary-0: #7ec994;
  --secondary-1: #5b9c6f;

  /* SPACES */
  --space: 32px;
  --space-small: 16px;
  --space-large: 64px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-weight: 400;
  box-sizing: border-box;
  letter-spacing: .5px;
}

::selection {
  background: var(--primary-0);
  color: var(--light-1);
  text-shadow: none;
}

/* style */
html,
body {
  background-color: var(--dark-2);
  overflow-x: hidden;
  font-size: 16px;
  color: var(--light-1);
  font-family: 'Asap Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: var(--light-1);
}
a:hover {
  color: var(--light-3);
}

a,
button,
li,
header,
footer {
  transition: 0.5s all;
}

header:hover,
footer:hover {
  background-color: var(--dark-0);
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.btn {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--primary-0);
  padding: 0.25em 1em;
  display: inline-block;
  border-radius: 3px;
  color: var(--light-0);
  text-align: center;
}
.btn:hover {
  color: var(--light-0);
  background-color: var(--secondary-1);
  outline: none;
}
.btn:focus {
  outline: none;
}
.btn-lg {
  font-size: 1.5em;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--dark-3);
  color: var(--light-2);
}
.btn-outline:hover {
  background-color: transparent;
  border-color: var(--primary-0);
}

header {
  background-color: var(--dark-1);
  padding: 1em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
}

header h1 {
  margin-left: 0.5em;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-link {
  display: inline-block;
  margin: 0 auto;
}

.photo {
  width: 80px;
  border-radius: 50%;
}

.flags {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 10;
  gap: 8px;
}
.flags li {
  opacity: 0.5;
  filter: grayscale(50%);
}
.flags li.active {
  opacity: 1;
  filter: grayscale(0);
}
.flags li:hover {
  opacity: 1;
  filter: grayscale(0);
}
.flags a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flags img {
  width: 15px;
  height: 15px;
}

main {
  padding: 9em 2em 4em 2em;
  max-width: 710px;
  margin: 0 auto;
}

#resume h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: 700;
  padding: 0.25em 0 0.75em 0;
}
#resume .text p {
  text-align: justify;
}
#resume .text a {
  color: var(--primary-0);
}
.btn-cv {
  display: none !important;
}
.pt-br .btn-cv{
  margin: 2em auto;
  display: table !important;
}

#social ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
#social li {
  list-style: none;
  width: auto;
  margin: 1em;
  font-size: 0.75em;
}
#social a {
  display: block;
}

footer {
  background-color: var(--dark-1);
  padding: 0.5em 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer em {
  font-size: 0.75em;
  font-style: normal;
}

@media (min-width: 767px) {
  header h1 {
    font-size: 1.25em;
  }
}
